* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Times New Roman", Times, serif;
  line-height: 1.5;
}

#container-highscores {
  padding: 20px;
  text-align: center;
}

h1 {
  margin-bottom: 20px;
}

a {
  text-decoration: none;
  color: rgb(10, 10, 10);
}

button {
  padding: 10px;
  border-radius: 5px;
  background-color: rgb(226, 221, 230);
  color: rgb(10, 10, 10);
  cursor: pointer;
  outline: none;
  font-size: 1em;
  margin-right: 20px;
}

button:hover {
  background-color: rgb(223, 220, 226);
}

ol {
  margin-top: 40px;
  margin-bottom: 40px;
}

li {
  background-color: rgb(222, 200, 243);
  list-style-position: inside;
  text-align: left;
  margin-bottom: 10px;
}
