
body {
  font-family: "Times New Roman", Times, serif;
  font-size: larger;
  background-color: antiquewhite;
}

section {
  background-color: beige;
  border: solid 3px gray;
  padding: 100px;
  width: 500vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50rem;
  margin: 5% auto;
  font-weight: 300;
}

.section > * {
  width: 100%;
}

.hide {
  display: none;
  
}

.show {
  display: block;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin: 0.67em 0;
}

p {
  padding: 0 10%;
}

#startButton {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.choice {
  display: block;
  margin-top: 10px;
}

/* :root {
  background-color: antiquewhite;
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
  font-family: "Times New Roman", Times, serif;
  margin: 0;
  padding: 0;
  color: black;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

h1 {
  font-size: 6rem;
  color: coral;
  margin-bottom: 5rem;
}

h1 > span {
  font-size: 2.5rem;
  font-weight: 500;
}

h2 {
  font-size: 4.5rem;
  margin-bottom: 4rem;
  font-weight: 700;
}

h3 {
  font-size: 3rem;
  font-weight: 500;
}

